{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br><br><br>

    <div class="jumbotron">
        <h1 class="display-4">YouTube Downloader</h1>
        <p class="lead">With this software, you can download all the videos you wish to download from youtube in just a
            few steps. Follow the instructions below to complete your YouTube video downloading.</p>
        <hr class="my-4">
        <p>For more cool software and internet services visit <a href="#">stewitantech.com</a></p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>


    <br><br>
    <container>
        <center><h1>Paste YouTube link here</h1></center>
    </container>
    <br>

    <container>
        <form action="download/" method="get">
            <div class="form-group">
                <input name="url" placeholder="Paste YouTube link here" type="text" class="form-control"
                       id="exampleInputEmail1"
                       aria-describedby="emailHelp">
            </div>
            <br>
            <center>
                <button type="submit" class="btn btn-primary">Download</button>
            </center>

        </form>
    </container>
</div>
{% endblock %}

