<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div id="progress-box" class="not-visible">Downloading...</div>
<div id="cancel-box" class="not-visible">
    <button id="cancel-btn" class="btn btn-danger">Cancel</button>
</div>

<style>
    .not-visible {
        display: none;
    }
</style>

<script>
    const progressBox = document.getElementById('progress-box')
    const cancelBox = document.getElementById('cancel-box')
    const cancelBtn = document.getElementById('cancel-btn')

    window.onload = ('change', () => {
        progressBox.classList.remove('not-visible')
        cancelBox.classList.remove('not-visible')

        const
    })
</script>


</body>
</html>